@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

.moviesContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white
}

.movie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
}

.movie img {
    width: auto;
    height: 200px;
    margin-top: 60%;
}

body {
    background-color: black;
}